<p>
  <h1><%= @recipe.name %></h1>
</p>
</hr>
<div class='row'>
  <div class='col-md-4 pull-right center'>
    <section class='chef_info center'>
        <%= gravatar_for @recipe.chef, size: 100 %>
        <h5>Brought to you by: <%= @recipe.chef.chefname %></h5>
      </section>
  </div>
    
    <div class='col-md-8 center'>
      <%= link_to "Edit this Recipe",edit_recipe_path, class: "btn btn-success pull-right" %>
      <h3><%= @recipe.summary %> </h3>
      <div class='show_recipe'>
        <%= image_tag(recipe.picture.url, class: "gravatar") if recipe.picture? %>
      </div>
      <div class='well'><%= simple_format(@recipe.description) %> </div>
    </div>
</div>

<%= link_to "Return to recipe listing",recipes_path,class: "btn btn-warning" %>